{% extends 'layout.html.twig' %}

{% block header %}

{% endblock %}

{% block content %}

    <div flex="100%">
        <div layout="row" layout-align="center center" layout-padding layout-margin>
            <h1 class="md-title">Sian-Material</h1>
            <md-button class="md-fab">Go</md-button>
        </div>

        <h1 class="md-title">Sian-Material</h1>
        <md-button>Click It</md-button>

    </div>



{% endblock %}
