{% extends 'layout.html.twig' %}

{% block header %}
    <div class="row">
        <div class="columns small-12">
            <h1>Sifoan</h1>
            <p><strong>Sifoan</strong> is a responsive web application boilerplate and components built on <strong>Si</strong>lex, <strong>Fo</strong>undation and <strong>An</strong>gular</strong>. The goal of sifoan is to provide a production quality starting point for building web apps that utilizes the core strengths of a lightweight backend framework (silex\flint), a responsive css framework (foundation) and a structural javascript framework (angular).</p>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="column large-12">
        <i class="fa fa-html5"></i> HTML5, <i class="fa fa-css3"></i> CSS3, <i class="fa fa-mobile"></i> Responsive
    </div>
</div>
{% endblock %}
