// This is the default html and body font-size for the base rem value.
/*
$rem-base: 16px;

$base-font-size:        16;
$golden-ratio:          1.61803398875;
$base-line-height:      $base-font-size * $golden-ratio;

$content-width:         685; // can be used for grids

$title-text:            2.265   * $rem-base; // 42
$headline-text:         1.625   * $rem-base; // 26
$sub-headline-text:     1.250   * $rem-base; // 20
$featured-text:         1.125   * $rem-base; // 18
$primary-text:          1       * $rem-base; // 16
$secondary-text:        0.8125  * $rem-base; // 13
$tiny-text:             0.6875  * $rem-base; // 11


// Allows the use of rem-calc() or lower-bound() in your settings
@import 'functions';


$base-width:        1000;
$row-width:         rem-calc($base-width);
// $total-columns: 12;
$column-gutter: rem-calc(30);

// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

// We use these to define default font stacks
$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Lusitana, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;


$small: 640;
$medium: 1024;
$large: 1440;
$xlarge: 1920;

$percent-small: 100%;
$percent-medium: 125%;
$percent-large: 131%;
$percent-xlarge: 143%;
$percent-xxlarge: 169%;

$small-breakpoint:  em-calc($small);
$medium-breakpoint: em-calc($medium);
$large-breakpoint:  em-calc($large);
$xlarge-breakpoint: em-calc($xlarge);
*/
